/strings/strings
*.obj
*.lib
*.com
*.exe
/cmd/cmds.lst
/cmd/cmds.rsp
/cmd/echolib.bat
/cmd/gcc.cfg
/cmd/gnumake.mak
/config.mak
/context.h_c
/context.inc
/criter/context.def
/criter/context.h_c
/criter/context.inc
/criter/criter
/criter/criter1
/criter/gnumake.mak
/gnuconf.mak
/info.txt
/infores
/lib/echolib.bat
/lib/freecom.lst
/lib/freecom.rsp
/lib/gcc.cfg
/lib/gnumake.mak
/shell/command.map
/shell/command.rsp
/shell/echoto.bat
/shell/gcc.cfg
/shell/gnumake.mak
/strings.h
/strings/gcc.cfg
/strings/gnumake.mak
/strings/strings.dat
/strings/strings.err
/strings/strings.h
/strings/strings.log
/strings/strings.lst
/suppl/gcc.cfg
/suppl/gnumake.mak
/suppl/src/echolib.bat
/suppl/src/gcc.cfg
/suppl/src/gnumake.mak
/suppl/src/objlist.txt
/suppl/suppl_s.lst
/tools/gcc.cfg
/tools/gnumake.mak
/tools/icmd_1.icd
/tools/icmd_2.icd
/tools/icmd_3.icd
/tools/tools.mak
/utils/gcc.cfg
/utils/gnumake.mak
